<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <!-- 引入 ECharts 文件 -->
    <script type="text/javascript" src="https://cdn.bootcss.com/echarts/4.2.0-rc.2/echarts-en.js"></script>
    <script type="text/javascript" src="/static/visualmap-setting.js"></script>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>

</head>
<body>
    <div id="holder" style="width:100%;display: flex;justify-content: center;align-items: center">
        <div id="main" style="width: 90%;"></div>
    </div>
    <script type="text/javascript">
        var index_date
        let visualMap = {
                top: 10,
                right: 10,
                show:false,
                dimension: 1,
                seriesIndex: [],
        }
        visualMap.pieces = pieces_map['postive_negative']
        function EchartObject(name){
            let dom = document.getElementById(name);
            dom.style.height = window.innerHeight + 'px';
            var myChart = echarts.init(dom);
            var option = {
                legend: {
                    top: 20,
                    data:[]
                },
                title: {
                    text: 'price'
                },
                tooltip: {
                    trigger: 'axis',
                },
                grid: [
                {
                    left: '10%',
                    right: '8%',
                    height: '50%'
                },{
                left: '10%',
                right: '8%',
                top: '63%',
                height: '16%'
            }],
                visualMap: visualMap,
                xAxis: [{
                    type: 'category',
                    splitLine: {
                        show: false
                    },
                    axisLine: {onZero: false},
                },{
                    type: 'category',
                    gridIndex: 1,
                    scale: true,
                    boundaryGap : false,
                    axisLine: {onZero: false},
                    axisTick: {show: false},
                    splitLine: {show: false},
                    axisLabel: {show: false},
                }],
                axisPointer: {
                    link: {xAxisIndex: 'all'},
                    label: {
                        backgroundColor: '#777'
                    }
                },
                yAxis: [{
                    type: 'value',
                    gridIndex:0,
                    <!-- boundaryGap: [0, '100%'], -->
                    splitLine: {
                        show: false
                    }
                },{
                    type:"value",
                    scale: false,
                    gridIndex: 1,
                    splitNumber: 2,
                    axisLabel: {show: false},
                    axisLine: {show: false},
                    axisTick: {show: false},
                    splitLine: {show: false}
                }],
                series: [],
                toolbox: {
                    left: 'center',
                    feature: {
                        dataZoom: {
                            yAxisIndex: false
                        },
                        restore: {},
                        saveAsImage: {}
                    }
                },
                dataZoom: [{
                    show: true,
                    xAxisIndex: [0, 1],
                    type: 'slider',
                    top: '85%'
                },{
                    type: 'inside',
                    xAxisIndex: [0, 1],
                }
            ],
            };
            this.drawDIF = (dif)=>{
                option.series.push({
                    name: 'macd_dif',
                    type: 'line',
                    showSymbol: false,
                    data: dif
                })
            }
            this.drawDEM = (dem)=>{
                option.series.push({
                    name: 'macd_dem',
                    type: 'line',
                    showSymbol: false,
                    data: dem
                })
            }
            this.drawHist = (hist) => {
                option.series.push({
                    name: 'hist',
                    type: 'bar',
                    <!-- showSymbol: false, -->
                    data: hist,
                    xAxisIndex: 1,
                    yAxisIndex: 1
                })
                option.visualMap.seriesIndex.push(option.series.length - 1)
            }
            this.drawMACD= (dif, dem, hist) => {
                this.drawDIF(dif)
                this.drawDEM(dem)
                this.drawHist(hist)
            }
            this.draw = ()=>{
                myChart.setOption(option);
            }

    }
    function parseData(arry, _opener,_indexopener){
        function defaultOpener(value, index) {
            return [
                value
            ]
        }
        function defaultindex(v,k) {
            return new Date(index_date[k].replace(/(20\d{2})(\d{2})(\d{2})/,'$1-$2-$3'))
        }
        if(_opener == undefined) _opener = defaultOpener;
        if(!_indexopener) _indexopener = defaultindex;
        return arry.map((v,k) =>{
            let now = _indexopener(v,k);
            let vals  = [[now.getFullYear(), now.getMonth() + 1, now.getDate()].join('/'),]
                        .concat(_opener(v, k))
            return {
                name: now.toString(),
                value: vals
            }
        })
    }
    async function init() {
        echart = new EchartObject("main")

        let _all = await axios.get('/macd').then(res => res.data)
        index_date = _all.date
        echart.drawMACD(parseData(_all.macd), parseData(_all.macdsign), parseData(_all.macdhist))
        echart.draw()
    }
    init().then(()=>{console.log("echart start")})

    </script>
</body>
</html>