<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <!-- 引入 ECharts 文件 -->
    <script type="text/javascript" src="https://cdn.bootcss.com/echarts/4.2.0-rc.2/echarts-en.js"></script>
    <script type="text/javascript" src="/static/visualmap-setting.js"></script>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <script src="/static/echart-wrapper.js"></script>

</head>
<body>
    <div id="holder" style="width:100%;display: flex;justify-content: center;align-items: center">
        <div id="main" style="width: 90%;"></div>
    </div>
    <script type="text/javascript">
        function visualMap(show = true, dim = 1) {
            return {
                top: 10,
                right: 10,
                show:show,
                dimension: dim,
                seriesIndex: [],
            }
        }
        var macd_option = {
                legend: {
                    top: 20,
                    data:[]
                },
                title: {
                    text: 'price'
                },
                tooltip: {
                    trigger: 'axis',
                },
                grid: [
                {
                    left: '10%',
                    right: '8%',
                    top:"10%",
                    height: '55%'
                },{
                left: '10%',
                right: '8%',
                top: '65%',
                height: '15%'
                },{
                    left: '10%',
                    right: '8%',
                    top: '83%',
                    height: '10%'
                }],
                visualMap: [ visualMap(true, 2), visualMap(false)],
                xAxis: [{
                    type: 'category',
                    splitLine: {
                        show: false
                    },
                    axisLine: {onZero: false},
                },{
                    type: 'category',
                    gridIndex: 1,
                    scale: true,
                    boundaryGap : false,
                    axisLine: {onZero: false},
                    axisTick: {show: false},
                    splitLine: {show: false},
                    axisLabel: {show: false},
                },{
                    type: 'category',
                    gridIndex: 2,
                    scale: true,
                    boundaryGap : false,
                    axisLine: {onZero: false},
                    axisTick: {show: false},
                    splitLine: {show: false},
                    axisLabel: {show: false},
                }],
                axisPointer: {
                    link: {xAxisIndex: 'all'},
                    label: {
                        backgroundColor: '#777'
                    }
                },
                yAxis: [{
                    type: 'value',
                    gridIndex:0,
                    <!-- boundaryGap: [0, '100%'], -->
                    splitLine: {
                        show: false
                    }
                },{
                    type: 'value',
                    gridIndex:1,
                    <!-- boundaryGap: [0, '100%'], -->
                    splitLine: {
                        show: false
                    }
                },{
                    type:"value",
                    scale: false,
                    gridIndex: 2,
                    splitNumber: 2,
                    axisLabel: {show: false},
                    axisLine: {show: false},
                    axisTick: {show: false},
                    splitLine: {show: false}
                }],
                series: [],
                toolbox: {
                    left: 'center',
                    feature: {
                        dataZoom: {
                            yAxisIndex: false
                        },
                        restore: {},
                        saveAsImage: {}
                    }
                },
                dataZoom: [{
                    show: true,
                    xAxisIndex: [0, 1, 2],
                    type: 'slider',
                    top: '85%'
                },{
                    type: 'inside',
                    xAxisIndex: [0, 1, 2],
                }
            ],
        };
        function MACDEcharObject(name) {
            macd_option.visualMap[0].pieces = pieces_map.unacross
            macd_option.visualMap[1].pieces = pieces_map.postive_negative
            EchartObject.call(this, name, macd_option)
            this.drawDIF = (dif) => {
                this._drawLine("macd_dif", dif, {xAxis : 1, yAxis : 1, color:"#ffb805"})
            }
            this.drawDEM = (dem) => {
                this._drawLine("macd_dem", dem, {xAxis : 1, yAxis : 1, color: "#ff4b00"})
            }
            this.drawHist = (hist) => {
                this._drawBar('macd_hist', hist, {xAxis : 2, yAxis : 2, visualMapIndex : 1 })
            }
            this.drawPrice = (price) => {
                this._drawCandlestick("price", price, {xAxis: 0, yAxis: 0})
            }
            this.drawMaxOrBack = (data) => {
                this._drawScatter("最值与背离", data, {
                    visualMapIndex: 0,
                })
            }
            this.drawAcross = (data) => {
                this._drawScatter("短线长线未交叉", data, {
                    visualMapIndex: 0,
                })
            }
            this.drawDIF_DEA = (data) => {
                this._drawScatter("DIF与DEA新高", data, {
                    visualMapIndex: 0,
                })
            }
            this.drawDIF_DEA_Across = (data) => {
                this._drawScatter("DIF与DEA交叉", data, {
                    visualMapIndex: 0,
                })
            }
        }





    async function init() {
        echart = new MACDEcharObject("main")
        let now = new Date();
        let [_all, _date, _prices, _macd_warn] = await Promise.all([axios.get('/macd').then(res => res.data),
            axios.get(`/date/nonsense/${[now.getFullYear(), now.getMonth() + 1, now.getDate()].join('-')}`).then((res)=> res.data.date),
            axios.get(`/price/D`).then((res) => res.data),
            axios.get(`/macd/warn_data`).then((res) => res.data),

        ])
        const index_date = _date.map((v, k) => v.replace(/(20\d{2})(\d{2})(\d{2})/,'$1-$2-$3'));
        const parseData = praser(index_date)
        echart.setXAsix(index_date)
        echart.drawDIF(parseData(_all.macd));
        echart.drawDEM(parseData(_all.macdsign));
        echart.drawHist(parseData(_all.macdhist));
        echart.drawPrice(parseData(_prices.price.open, (v, k)=> [
            _prices.price.open[k],_prices.price.close[k], _prices.price.high[k], _prices.price.low[k]
        ],(v, k)=> null));
        echart.drawMaxOrBack(parseData(_macd_warn.max_back,
            (v, k)=> [_prices.price.close[k], v]))
        echart.drawAcross(parseData(_macd_warn.unacross,
            (v, k)=> [_prices.price.close[k], v]))
        echart.drawDIF_DEA(parseData(_macd_warn.dif_warn,
            (v, k) => [_prices.price.close[k], v]))
        echart.drawDIF_DEA_Across(parseData(_macd_warn.dif_dea_cross,
            (v, k) => [_prices.price.close[k], v]))
        echart.draw()
    }
    init().then(()=>{console.log("echart start")})

    </script>
</body>
</html>