<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <!-- 引入 ECharts 文件 -->
    <script type="text/javascript" src="https://cdn.bootcss.com/echarts/4.2.0-rc.2/echarts-en.js"></script>
    <script type="text/javascript" src="/static/visualmap-setting.js"></script>
    <script src="https://cdn.bootcss.com/axios/0.19.0-beta.1/axios.min.js"></script>

</head>
<body>
    <div id="holder" style="width:100%;display: flex;justify-content: center;align-items: center">
        <div id="main" style="width: 90%;"></div>
    </div>
    <script type="text/javascript"> 
    let _color = "#fff"
    let REMOTEHOST = 'http://192.168.8.99:8388'
    let LOCALHOST = 'http://127.0.0.1:8888'
    let localhost = ''
    let host = ''
    var upColor = '#ec0000';
    var upBorderColor = '#8A0000';
    var downColor = '#00da3c';
    var downBorderColor = '#008F28';
    let visualMap = {
                top: 10,
                right: 10,
                show:true,
                dimension: 2,
                seriesIndex: [],
    }
    visualMap.pieces = pieces_map['peek']

    var log = console.log.bind(console)
    axios.default.withCredentials=true
    
    let index_date
    let history_price
    let back_trend_rawdata
    let rsi1
    let debug = true
    let eo = null
    if(debug) {
        eo = new EchartObject("main")
    }


    <!--     -->
    function EchartObject(name){
        let dom = document.getElementById(name);
        dom.style.height = parseInt(window.innerHeight * 0.9) + 'px';
        var myChart = echarts.init(document.getElementById(name));
        var option = {
            legend: {
                top: 20,
                data:[]
            },
            title: {
                text: 'price'
            },
            tooltip: {
                trigger: 'axis',
                axisPointer: {
                    type: 'cross'
                },
            },
            axisPointer: {
                link: {xAxisIndex: 'all'},
            },
            grid:[
                {
                    left: '10%',
                    right: '8%',
                    height: '70%'
                },
                {
                    left: '10%',
                    right: '8%',
                    top: '83%',
                    height: '7%'
                }],
            xAxis: [
                {
                    type: 'category',
                    scale: true,
                    splitLine: {
                        show: false
                    },
                    gridIndex: 0,
                },
                {
                    type: 'category',
                    splitLine: {
                        show: false
                    },
                    scale: true,
                    gridIndex: 1,

                }],
            yAxis: [{
                type: 'value',
                <!-- boundaryGap: [0, '100%'], -->
                splitLine: {
                    show: false
                }
            },{
                type: 'value',
                max: 200,
                <!-- boundaryGap: [0, '100%'], -->
                splitLine: {
                    show: false
                }
            }, {
                type:"value",
                scale: false,
                gridIndex: 1,
                splitNumber: 2,
                axisLabel: {show: false},
                axisLine: {show: false},
                axisTick: {show: false},
                splitLine: {show: false}
            }],
            series: [],
            visualMap: visualMap,
            toolbox: {
                left: 'center',
                feature: {
                    dataZoom: {
                        yAxisIndex: 'none'
                    },
                    restore: {},
                    saveAsImage: {}
                }
            },
            dataZoom: [
            {
                type: 'slider',
                xAxisIndex: [0,1],
                <!-- filterMode: 'empty' -->
            },{
                type: 'inside',
                xAxisIndex: [0,1],
            }
        ],
        };
        this.drawPrice = (pricesData, showSymbol = false)=>{
            option.legend.data.push('price')
            option.series.push({
                name: 'price',
                type: 'candlestick',
                xAxisIndex:0,
//                showSymbol: showSymbol,
                itemStyle: {
                    normal: {
                        color: upColor,
                        color0: downColor,
                        borderColor: null,
                        borderColor0: null
                    }
                },
                data: pricesData,
            })
        };
        this.drawRSIback = (rsiBack ) => {
            option.legend.data.push('back_trend')
            option.series.push({
                name: 'back_trend',
                type: 'scatter',
                <!-- showSymbol: false, -->
                data: rsiBack
            })
            option.visualMap.seriesIndex.push(option.series.length - 1)
        };
        this.drawRSIData = (rsiState) => {
            option.legend.data.push('rsi_data')
            option.series.push({
                name: 'rsi_data',
                type: 'line',
                yAxisIndex:1,
                color: '#eee',
                showSymbol: false,
                data: rsiState,
//                visualMap: false
            })
        }
        this.drawPriceShake = (priceShake, showSymbol = false, step= false) =>{
            option.legend.data.push('price_shake_rate')
            option.series.push({
                name: 'price_shake_rate',
                type: 'line',
                step: step,
                yAxisIndex:1,
                color: '#eee',
                showSymbol: showSymbol,
                data: priceShake,
            })
        }
        this.drawPriceRate = (priceShakeRate, showSymbol = false)=>{
            option.series.push({
                name: 'price_shake_warning',
                type: 'scatter',
                yAxisIndex:1,
                <!-- showSymbol: false, -->
                data: priceShakeRate,

            })
            option.visualMap.seriesIndex.push(option.series.length - 1)
            option.legend.data.push('price_shake_warning')

        }
        this.drawOCPriceShakeRate = (priceshake, step = false) => {
            option.legend.data.push('price_shake_rate(开/收)')
            option.series.push({
                name: 'price_shake_rate(开/收)',
                type: 'line',
                yAxisIndex:1,
                color: '#3af331',
                step: step,
                showSymbol: false,
                data: priceshake
            })
        }
        this.drawHLPriceShakeRate = (priceshake, step = false) =>{
            option.legend.data.push('price_shake_rate(高/低)')
            option.series.push({
                name: 'price_shake_rate(高/低)',
                type: 'line',
                yAxisIndex:1,
                color: '#feaf00',
                showSymbol: false,
                step: step,
                data: priceshake
            })
        }
        this.drawHLAverage = (p, step = false) => {
            option.legend.data.push('price_shake均线(高/低)')
            option.series.push({
                name: 'price_shake均线(高/低)',
                type: 'line',
                yAxisIndex:1,
                color: '#5100ff',
                showSymbol: false,
                step: step,
                data: p
            })
        }
        this.drawHLAverage = (p, step = false) => {
            option.legend.data.push('price_shake均线(高/低)')
            option.series.push({
                name: 'price_shake均线(高/低)',
                type: 'line',
                yAxisIndex:1,
                color: '#fff220',
                showSymbol: false,
                step: step,
                data: p
            })
        }
        this.drawOCAverage = (p ,step = false) => {
            option.legend.data.push('price_shake均线(开/收)')
            option.series.push({
                name: 'price_shake均线(开/收)',
                type: 'line',
                yAxisIndex:1,
                step: step,
                color: '#ffb227',
                showSymbol: false,
                data: p
            })
        }
        this.drawSHAverage = (p, step = false) => {
            option.legend.data.push('price_shake均线(震荡)')
            option.series.push({
                name: 'price_shake均线(震荡)',
                type: 'line',
                yAxisIndex:1,
                step: step,
                color: '#ff3845',
                showSymbol: false,
                data: p
            })
        }
        this.drwaDelta = (delta, step = false)=>{
            option.legend.data.push('(高/低)-(开/收)')
            option.series.push({
                name: '(高/低)-(开/收)',
                type: 'line',
                yAxisIndex:1,
                color: '#33aadd',
                showSymbol: false,
                step: step,
                data: delta
            })
        }
        this.drawcoDelta = (delta) =>{
            option.legend.data.push('昨收 - 今开')
            option.series.push({
                name: '昨收 - 今开',
                type: 'line',
                yAxisIndex:1,
                color: '#333aee',
                showSymbol: false,
                data: delta
            })
        }
        _drawLine = function (name, data, {xAxis = 0,yAxis = 1, showInLegend = true, step = false, showSymbol = false}) {
            if(showInLegend) {
                option.legend.data.push(name);
            }
            option.series.push({
                name: name,
                type: 'line',
                xAxisIndex: xAxis,
                yAxisIndex:yAxis,
                color: '#333aee',
                showSymbol: showSymbol,
                step: step,
                data: data
            });
        }
        _drawBar = function (name, data, {xAxis = 0,yAxis = 0, showInLegend = true, showSymbol = false}) {
            if(showInLegend) {
                option.legend.data.push(name);
            }
            option.series.push({
                name: name,
                type: 'bar',
                xAxisIndex: xAxis,
                yAxisIndex:yAxis,
                color: '#ee7300',
                showSymbol: showSymbol,
                data: data
            });

        }
        this.drawVal = (data) =>_drawBar("成交量", data, {xAxis:1, yAxis : 2,showInLegend : true});
        this.setXAsix = (date) => {
            option.xAxis[0].data = date;
            option.xAxis[1].data = date;
        }

        this.draw = ()=>{
            myChart.setOption(option);
        }

    }

    var map = [
        'NORAMAL',
        'SHORT_BOTTOM',
        'SHORT_TOP',
        'MEDIUM_BOTTOM',
        'MEDIUM_TOP',
        'LONG_BOTTOM',
        'LONG_TOP'
    ]
    function parseData(arry, _opener,_indexopener){
        function defaultOpener(value, index) {
            return [
                value
            ]
        }
        function defaultindex(v,k) {
            return trade_date[k];
        }
        if(!_opener) _opener = defaultOpener;
        if(!_indexopener) _indexopener = defaultindex;
        return arry.map((v,k) =>{
            let index = _indexopener(v,k);
            let index_arr = index == null ? [] : [index,]
            let vals  = index_arr.concat(_opener(v, k));
            return vals
        })
    }

    <!-- -->

    var trade_date
    async function init() {
        // let prices, rsiBacktrendRawdata_, priceShakes;
        let res = /^\S+#(?<term>\d+)(?:&(?<freq>\S+))?(?:&(?<to>\d|\-+))?$/.exec(document.URL);
        let term = res == null || !res.groups["term"]?'24':res.groups["term"];
        let freq = res == null || !res.groups["freq"]?'D':res.groups["freq"];
        let today = new Date()
        let to = res == null || !res.groups["to"]?
            `${today.getFullYear()}-${today.getMonth() + 1}-${today.getDate()}`:
            res.groups["to"];

        let [prices, rsiBacktrendRawdata_, priceShakes, date] = await Promise.all([axios.get(`${localhost}/price/D`).then((res)=> res.data),
                    axios.get(`${localhost}/rsi_state`).then((res)=> res.data),
                    axios.get(`${localhost}/price/shake/${term}/${freq}`).then((res)=> res.data),
                    axios.get(`${localhost}/date/nonsense/${to}`).then((res)=> res.data)
        ])

        index_date = prices.date
        prices = prices.price
        rsi1 = rsiBacktrendRawdata_.rsi_data.rsi1
        rsiBacktrendRawdata_= rsiBacktrendRawdata_.rsi_state
        trade_date = date.date.map((v, k) => v.replace(/(20\d{2})(\d{2})(\d{2})/,'$1-$2-$3'))
        function ownDateIndex(v, k) {
            return v.date.replace(/(20\d{2})(\d{2})(\d{2})/,'$1-$2-$3')
        }



        let echart = eo == null ? new EchartObject('main') : eo;
        echart.setXAsix(trade_date)
        echart.drawPrice(parseData(prices.open, (v, k)=>{ return [
            prices.open[k],prices.close[k], prices.high[k], prices.low[k]
        ]},(v, k)=> null))
        if(freq === 'D') {
            echart.drawRSIback(parseData(rsiBacktrendRawdata_, (v, k) => {
            return [
                prices.close[k],
                v.back_trend,
            ]
            }))
            echart.drawRSIData(parseData(rsi1));
            echart.drawcoDelta(parseData(priceShakes, (v, k)=>{
                return [
                    v.corate
                ]
            }))
        }
        echart.drawPriceShake(parseData(priceShakes,(v,k)=>{
            return [
                v.rate
            ]
        },ownDateIndex), false,step = (freq === 'W'))
        echart.drawPriceRate(parseData(priceShakes,(v,k)=>{
            return [
                v.rate,
                v.shake
            ]
        },ownDateIndex), step = freq === 'W')
        echart.drawOCPriceShakeRate(parseData(priceShakes, (v, k)=>{
            return [
                v.ocrate
            ]
        },ownDateIndex), step = freq === 'W')
        echart.drawHLPriceShakeRate(parseData(priceShakes, (v, k)=>{
            return [
                v.hlrate
            ]
        },ownDateIndex), step = freq === 'W')
        echart.drawOCAverage(parseData(priceShakes, (v, k)=>{
            return [
                v.averange24_oc
            ]
        },ownDateIndex), step = freq === 'W')
        echart.drawHLAverage(parseData(priceShakes, (v, k)=>{
            return [
                v.averange24_hl
            ]
        },ownDateIndex), step = freq === 'W')
        echart.drawSHAverage(parseData(priceShakes, (v, k)=>{
            return [
                v.averange24_sh
            ]
        },ownDateIndex), step = freq === 'W')
        echart.drwaDelta(parseData(priceShakes,(v, k)=>{
            return [
                v.averange24_hl - v.averange24_oc
            ]
        },ownDateIndex), step = freq === 'W')
        echart.drawVal(parseData(prices.open, (v, k)=>{
            return [
                prices.val[k]
            ]
        } ))



        echart.draw()

    }
    init().then(()=> console.log("echart start"))
    </script>
</body>
</html>